<!DOCTYPE html>
<html>
<head>
    <title>Classifier information</title>
    <meta http-equiv="Refresh" content="10">
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <link href="https://fonts.googleapis.com/css?family=Roboto&display=swap" rel="stylesheet">
    <style type="text/css">
        body {
            font-family: 'Roboto', sans-serif;
        }
        p {
            margin-bottom: 30px;
            text-align: justify;
        }
    </style>
</head>
<body>
    <div class="container">
        <center>
            <a href="/"><img width="500px" src="{{ url_for('static', filename='img/logo.png') }}"></a><br>
            <a href="/">&lt;&lt;&nbsp;Back</a>
            <h3>Classifier information</h3>
        </center>
        <div class="row">
            <div class="col-md-1"></div>
            <div class="col-md-10">

<h4><b>V6 classifiers (version v0)</b></h4>
<br>
<p>Fecal signatures were characterized in <b>6 sources</b> including: human (sewage), dog, cow, deer, pig and herbivore (created from cow and deer samples).</p>
<p>Attributes of the classifiers are summarized in the table below. Sequences included in the classifiers are listed <a href="{{ url_for('static', filename='data/Classifiers_details_v6_v0.txt') }}">here</a>, and the individual predictions are detailed <a href="{{ url_for('static', filename='data/IndividualPredictions_v6_v0.xlsx') }}">here</a>. </p>
<table class="table">
<thead>
<tr>
    <th></th>
    <th></th>
    <th></th>
    <th></th>
    <th></th>
    <th></th>
    <th></th>
<tr>
    <th>V6 - Bacteroidales</th>
    <th></th>
    <th></th>
    <th></th>
    <th></th>
    <th></th>
    <th></th>
<tr>
    <th></th>
    <th>human (sewage)</th>
    <th>dog</th>
    <th>pig</th>
    <th>deer</th>
    <th>cattle</th>
    <th>herbivore</th>
<tr>
<tbody>
    <td>#ASVs in the classifier</td>
    <td>107</td>
    <td>40</td>
    <td>42</td>
    <td>49</td>
    <td>79</td>
    <td>52</td>
</tbody>
<tr>
<tbody>
    <td>Decision cut-off</td>
    <td>21</td>
    <td>1</td>
    <td>14</td>
    <td>4</td>
    <td>26</td>
    <td>40</td>
</tbody>
<tr>
</thead>
<tbody>
<tr>
    <td>TP</td>
    <td>9</td>
    <td>26</td>
    <td>35</td>
    <td>13</td>
    <td>41</td>
    <td>94</td>
</tr>
<tr>
    <td>FN</td>
    <td>0</td>
    <td>5</td>
    <td>0</td>
    <td>0</td>
    <td>7</td>
    <td>14</td>
</tr>
<tr>
    <td>TN</td>
    <td>261</td>
    <td>217</td>
    <td>232</td>
    <td>217</td>
    <td>181</td>
    <td>127</td>
</tr>
<tr>
    <td>FP</td>
    <td>0</td>
    <td>22</td>
    <td>3</td>
    <td>40</td>
    <td>41</td>
    <td>35</td>
</tr>
</tbody>
    <td>Specificity</td>
    <td>100</td>
    <td>91</td>
    <td>99</td>
    <td>84</td>
    <td>82</td>
    <td>78</td>
<tr>
    <td>Sensitivity</td>
    <td>100</td>
    <td>84</td> 
    <td>100</td>
    <td>100</td>
    <td>85</td>
    <td>87</td>
</tr>
</tbody>
    <tr>
    <td>Classifier type</td>
    <td>Global</td>
    <td>Discarded</td>
    <td>Global</td>
    <td>Discarded</td>
    <td>Global</td>
    <td>Global</td>
</tr>
</tbody>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
</tr>
</tbody>
</table>





<table class="table">
<thead>
<tr>
    <th></th>
    <th></th>
    <th></th>
    <th></th>
    <th></th>
    <th></th>
    <th></th>
<tr>
    <th>V6 - Clostridiales</th>
    <th></th>
    <th></th>
    <th></th>
    <th></th>
    <th></th>
    <th></th>
<tr>
    <th></th>
    <th>human (sewage)</th>
    <th>dog</th>
    <th>pig</th>
    <th>deer</th>
    <th>cattle</th>
    <th>herbivore</th>
<tr>
<tbody>
    <td>#ASVs in the classifier</td>
    <td>139</td>
    <td>92</td>
    <td>44</td>
    <td>52</td>
    <td>97</td>
    <td>41</td>
</tbody>
<tr>
<tbody>
    <td>Decision cut-off</td>
    <td>16</td>
    <td>34</td>
    <td>31</td>
    <td>26</td>
    <td>26</td>
    <td>25</td>
</tbody>
<tr>
</thead>
<tbody>
<tr>
    <td>TP</td>
    <td>9</td>
    <td>31</td>
    <td>36</td>
    <td>13</td>
    <td>39</td>
    <td>93</td>
</tr>
<tr>
    <td>FN</td>
    <td>0</td>
    <td>0</td>
    <td>0</td>
    <td>0</td>
    <td>9</td>
    <td>14</td>
</tr>
<tr>
    <td>TN</td>
    <td>265</td>
    <td>212</td>
    <td>237</td>
    <td>247</td>
    <td>194</td>
    <td>147</td>
</tr>
<tr>
    <td>FP</td>
    <td>0</td>
    <td>31</td>
    <td>1</td>
    <td>14</td>
    <td>32</td>
    <td>20</td>
</tr>
</tbody>
    <td>Specificity</td>
    <td>100</td>
    <td>87</td>
    <td>100</td>
    <td>95</td>
    <td>86</td>
    <td>88</td>
<tr>
    <td>Sensitivity</td>
    <td>100</td>
    <td>100</td>
    <td>100</td>
    <td>100</td>
    <td>81</td>
    <td>87</td>
</tr>
</tbody>
    <tr>
    <td>Classifier type</td>
    <td>Global</td>
    <td>Global</td>
    <td>Global</td>
    <td>Global</td>
    <td>Global</td>
    <td>Global</td>
</tr>
</tbody>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
</tr>
</tbody>
</table>
<p> Abbreviations: TP: true positive (sample correctly classified), FN: false negative (sample not classified as expected), TN: true negative (sample should not be classified, that is should be classified as “unknown”),  FP: false positive (sample classified while it was not expected). Specificity is the number of TNs divided by the sum of TNs and FPs. Sensitivity is the number of TPs divided by the sum of TPs and FNs. </p>
<br>
<br>
<br>
<br>
<br>


<h4><b>V4 classifiers (version v0)</b></h4>
<br>
<p>Fecal signatures were characterized in <b>6 sources</b> including: human (sewage), dog, cattle, pig, ruminant (created from cow and deer samples) and herbivore (created from cow, deer and horse samples).</p>
<p>Attributes of the classifiers are summarized in the table below. Sequences included in the classifiers are listed <a href="{{ url_for('static', filename='data/Classifiers_details_v4_v0.txt') }}">here</a>, and the individual predictions are detailed <a href="{{ url_for('static', filename='data/IndividualPredictions_v4_v0.xlsx') }}">here</a>. </p>
<table class="table">
<thead>
<tr>
    <th></th>
    <th></th>
    <th></th>
    <th></th>
    <th></th>
    <th></th>
    <th></th>
<tr>
    <th>V4 - Bacteroidales</th>
    <th></th>
    <th></th>
    <th></th>
    <th></th>
    <th></th>
    <th></th>
<tr>
    <th></th>
    <th>human (sewage)</th>
    <th>dog</th>
    <th>cattle</th>
    <th>pig</th>
    <th>ruminant</th>
    <th>herbivore</th>
<tr>
<tbody>
    <td>#ASVs in the classifier</td>
    <th>86</th>
    <th>34</th>
    <th>126</th>
    <th>75</th>
    <th>59</th>
    <th>39</th>
</tbody>
<tr>
<tbody>
    <td>Decision cut-off</td>
    <td>19</td>
    <td>22</td>
    <td>9</td>
    <td>13</td>
    <td>5</td>
    <td>33</td>
</tbody>
<tr>
</thead>
<tbody>
<tr>
    <td>TP</td>
    <td>56</td>
    <td>9</td>
    <td>33</td>
    <td>26</td>
    <td>44</td>
    <td>56</td>
</tr>
<tr>
    <td>FN</td>
    <td>0</td>
    <td>0</td>
    <td>0</td>
    <td>0</td>
    <td>0</td>
    <td>3</td>
</tr>
<tr>
    <td>TN</td>
    <td>138</td>
    <td>161</td>
    <td>161</td>
    <td>167</td>
    <td>140</td>
    <td>119</td>
</tr>
<tr>
    <td>FP</td>
    <td>0</td>
    <td>24</td>
    <td>0</td>
    <td>1</td>
    <td>10</td>
    <td>16</td>
</tr>
</tbody>
    <td>Specificity</td>
    <td>100</td>
    <td>87</td>
    <td>100</td>
    <td>99</td>
    <td>93</td>
    <td>88</td>
<tr>
    <td>Sensitivity</td>
    <td>100</td>
    <td>100</td>
    <td>100</td>
    <td>100</td>
    <td>100</td>
    <td>95</td>
</tr>
</tbody>
    <tr>
    <td>Classifier type</td>
    <th>Global</th>
    <th>Global</th>
    <th>Draft</th>
    <th>Global</th>
    <th>Discarded</th>
    <th>Global</th>
</tr>
</tbody>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
</tr>
</tbody>
</table>





<table class="table">
<thead>
<tr>
    <th></th>
    <th></th>
    <th></th>
    <th></th>
    <th></th>
    <th></th>
    <th></th>
<tr>
    <th>V4 - Clostridiales</th>
    <th></th>
    <th></th>
    <th></th>
    <th></th>
    <th></th>
    <th></th>
<tr>
    <th></th>
    <th>human (sewage)</th>
    <th>dog</th>
    <th>cattle</th>
    <th>pig</th>
    <th>ruminant</th>
    <th>herbivore</th>
<tr>
<tbody>
    <td>#ASVs in the classifier</td>
    <th>141</th>
    <th>35</th>
    <th>81</th>
    <th>66</th>
    <th>70</th>
    <th>49</th>
</tbody>
<tr>
<tbody>
    <td>Decision cut-off</td>
    <td>17</td>
    <td>10</td>
    <td>16</td>
    <td>29</td>
    <td>10</td>
    <td>22</td>
</tbody>
<tr>
</thead>
<tbody>
<tr>
    <td>TP</td>
    <td>57</td>
    <td>7</td>
    <td>37</td>
    <td>25</td>
    <td>48</td>
    <td>56</td>
</tr>
<tr>
    <td>FN</td>
    <td>0</td>
    <td>2</td>
    <td>0</td>
    <td>0</td>
    <td>0</td>
    <td>7</td>
</tr>
<tr>   
    <td>TN</td>
    <td>142</td>
    <td>142</td>
    <td>160</td>
    <td>172</td>
    <td>146</td>
    <td>134</td>
</tr>
<tr>
    <td>FP</td>
    <td>0</td>
    <td>48</td>
    <td>2</td>
    <td>2</td>
    <td>5</td>
    <td>2</td>
</tr>
</tbody>
    <td>Specificity</td>
    <td>100</td>
    <td>75</td>
    <td>99</td>
    <td>99</td>
    <td>97</td>
    <td>99</td>
<tr>
    <td>Sensitivity</td>
    <td>100</td>
    <td>78</td>
    <td>100</td>
    <td>100</td>
    <td>100</td>
    <td>89</td>
</tr>
</tbody>
    <tr>
    <td>Classifier type</td>
    <th>Global</th>
    <th>Draft</th>
    <th>Global</th>
    <th>Global</th>
    <th>Draft</th>
    <th>Global</th>
</tr>
</tbody>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
</tr>
</tbody>
</table>
<p> Abbreviations: TP: true positive (sample correctly classified), FN: false negative (sample not classified as expected), TN: true negative (sample should not be classified, that is should be classified as “unknown”),  FP: false positive (sample classified while it was not expected). Specificity is the number of TNs divided by the sum of TNs and FPs. Sensitivity is the number of TPs divided by the sum of TPs and FNs. </p>

<!-- DivTable.com -->


    </div>

            </div>
            <div class="col-md-1"></div>
        </div>
</body>

</html>
